.projects{
    height: 320px;

    .slider{

        &__item{
            padding: 0;

            > div{

            }
        }

        &__prev{
            left: 10px;
            z-index: 10;

            &::before{
                color: #977ED3;
                transition: opacity 0.2s ease-in-out;
            }
        }

        &__next{
            left: auto;
            right: 10px;
            z-index: 10;

            &::before{
                color: #FF8A5E;
                transition: opacity 0.2s ease-in-out;
            }
        }

        &__dots{
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

    @media (min-width: 681px){
        .slider{
            &__item{
                padding: 0 40px;
            }
        }
    }

}