.experience{
    color: #FFFFFF;
    z-index: 10;

    &:before{
        content: '';
        position: absolute;
        left: -25%;
        top: 0;
        display: block;
        width: 150%;
        height: 100%;
        background: #FF8A5E;
        transform: translateX(-5%) rotate(5deg);
    }

    .container{
        max-width: 700px;
    }

    &__date{
        grid-area: date;
        font-size: 1.8rem;
    }

    &__line{
        grid-area: line;
        position: relative;

        &::before{
            content: '';
            display: block;
            font-size: 0;
            width: 1px;
            height: 100%;
            position: absolute;
            left: 50%;
            top: 0;
            background: #977ED3;
            transform: translateX(-50%);
        }

        &::after{
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            font-size: 0;
            background: #977ED3;
            position: absolute;
            left: 50%;
            top: 9px;
            transform: translateX(-50%);
            transition: transform 0.2s ease-in-out;
        }
    }

    &__text{
        grid-area: text;
        font-size: 1.6rem;
        padding-bottom: 40px;
    }

    &__title{
        font-weight: 700;
        font-size: 1.8rem;
    }

    &__item{
        display: grid;
        grid-template-columns: 90px 30px 1fr;
        grid-template-rows: auto;
        grid-template-areas: "date line text";

        &:first-of-type{
            .experience__line{
                &::before{
                    top: 16px;
                    height: calc(100% - 16px);
                }
            }
        }

        &:last-of-type{
            .experience__text{
                padding-bottom: 0;
            }

            .experience__line{
                &::before{
                    height: calc(100% - 16px);
                }
            }
        }

        &:hover{
            .experience__line{
                &::after{
                    transform: translateX(-50%) scale(1.5);
                }
            }
        }
    }

}