$font-family-base: 'Noto Sans', sans-serif;

$body-bg: #FFFFFF;
$color-primary: #000000;
$color-secondary: #FFFFFF;
$color-accent: #379AD6;
$color-secondary-accent: #41B883;
$color-third-accent: #F16529;
$color-on-accent: #FFFFFF;
$color-error: #ff0000;
$color-link: #379AD6;
$color-link-hover: #41B883;
$color-surface: #FFFFFF;
$color-on-surface: #707070;

$xxs-down: 425px;
$xxs-up: 426px;
$xs-down: 576px;
$sm-up: 577px;
$sm-down: 768px;
$md-up: 769px;
$md-down: 1024px;
$lg-up: 1025px;
$lg-down: 1200px;
$xl-up: 1201px;
$xxl-down: 1440px;
$xxl-up: 1441px;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;
$font-size-base: 1rem;
$line-height-base: 1.5;