.education{
    color: #FFFFFF;

    &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 110%;
        height: 100%;
        background: #FF8A5E;
        transform: translateX(-5%) rotate(5deg);
    }

    .container{
        max-width: 700px;
    }

    &__item{
        display: grid;
        grid-template-columns: 90px 30px 1fr;
        grid-template-rows: auto;
        grid-template-areas: "date line text";

        &:last-child{
            .experience__text{
                padding-bottom: 0;
            }
        }
    }

    &__date{
        grid-area: date;
        font-size: 1.8rem;
    }

    &__line{
        grid-area: line;
        position: relative;

        &::before{
            content: '';
            display: block;
            font-size: 0;
            width: 60%;
            height: 1px;
            position: absolute;
            left: 50%;
            top: 14px;
            background: #977ED3;
            transform: translateX(-50%);
        }
    }

    &__text{
        grid-area: text;
        font-size: 1.6rem;
        padding-bottom: 40px;
    }

    &__title{
        font-weight: 700;
        font-size: 1.8rem;
    }

}