.skills{
    color: #FFFFFF;

    &:before{
        content: '';
        position: absolute;
        left: -5%;
        top: 0;
        display: block;
        width: 110%;
        height: 100%;
        background: #977ED3;
        transform: rotate(-5deg);
    }

    .container{
        max-width: 600px;
    }

}